<!--Шаблон для отображения формы или информации об успешной отправке сообщения.-->

{% extends "blog/base.html" %}
{% block title %}Поделиться{% endblock %}
{% block content %}
    {% if sent %}
        <h1>E-mail успешно отправлен!</h1>
        <p>"{{ post.title }}" был успешно отправлен {{ form.cleaned_data.to }}</p>
        {% else %}
            <h1>Отправить статью "{{ post.title }}" по e-mail</h1>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Отправить">
            </form>
    {% endif %}
{% endblock %}
